*{
    font-family: 'Amatic SC', cursive; 
}

div{
   
}

div :hover{
    
}



h1{
    outline: 1px solid yellow;
    margin-top: 70px;
    margin-left: 62px;
}

img{
    outline: 1px solid green;
    max-width: 100%;
}

img[alt="ale"]{
    height: 200px;
    width: 200px;
}

figure{
    width: 900px;
    height: 500px;
    position: relative;
}

p{
    position: absolute;
    color: white;
    margin: 0px;
    font-size: 16px;
}

.box{
    outline: 1px solid purple;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    float: left;
    margin: 20px;
    margin-left: 30px;
}

.text1{
    top: 200px;
    left: 135px;
}

.text2{
    top: 200px;
    left: 415px;
}

.text3{
    top: 200px;
    left: 665px;
}

.text4{
    top: 440px;
    left: 156px;
}

.text5{
    top: 440px;
    left: 383px;
}

.text6{
    top: 440px;
    left: 655px;
}