*{
    font-family: 'Amatic SC', cursive; 
    background: #EEDFF9;
}

/*estilo con pseudoclase*/
div :hover{
    filter: grayscale(80%);
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    box-shadow: 21px 21px 50px #999;
}


h1{
    margin-top: 70px;
    margin-left: 62px;
}

img{
    max-width: 100%;
}

img[alt="ale"]{
    height: 200px;
    width: 200px;
}

figure{
    width: 900px;
    height: 500px;
    position: relative;
}

p{
    position: absolute;
    color: black;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.box{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    float: left;
    margin: 20px;
    margin-left: 30px;
}

.text1{
    top: 200px;
    left: 135px;
}

.text2{
    top: 200px;
    left: 415px;
}

.text3{
    top: 200px;
    left: 665px;
}

.text4{
    top: 440px;
    left: 156px;
}

.text5{
    top: 440px;
    left: 383px;
}

.text6{
    top: 440px;
    left: 655px;
}